<!DOCTYPE html>
<html>
    <head>
        <title>장바구니</title>
    </head>
    <body>
        <a href="{{url_for('index')}}">HOME</a>
        <ul>
            {% if cart %}
                {%for c in cart.values() %}
                    <li>
                        이름 : {{c['name']}}
                        가격 : {{c['price']}}
                        개수 : {{c['count']}}
                        {% set delete_value = url_for('delete_item', item_name = c['name']) %}
                        <button class="remove" onclick="window.location.href='{{delete_value}}'">X</button>
                    </li>    
                {% endfor %}
            {% else %}
                    장바구니 내용이 없습니다.
            {% endif %}
        </ul>
    </body>
</html>