<!DOCTYPE html>
<html lang="ko"> 
<head>
    <meta charset="utf-8">
    <title>
        나의 웹 사이트~
    </title>
</head>
<body>
    <h1>플라스크 홈페이지 입니다.</h1>
    <!-- Jinja2 Template문법으로 코딩 -->
    <table border="1">
        <caption>사용자 정보 출력</caption>
        {% for user in user_info %}
            <tr>
                <td>{{user[0]}}</td>
                <td>{{user[1]}}</td>
                <td>{{user[2]}}</td>
                <td>{{user[3]}}</td>
                <td>{{user[4]}}</td>
                <td>{{user[5]}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>